body{
  background-color:floralwhite;
}

.App {
  text-align: center;
  min-height: 100%;
  /* overflow-x: hidden; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

header {
  background-color:peru;
  border-bottom: rgb(104, 36, 36) 1px solid;
  box-shadow: 0px 1px 10px 5px peru;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

footer {
  background-color:rgb(170, 112, 54);
  box-shadow: 0px -2px 3px rgb(170, 112, 54);
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.storetitle{
  margin-left: 60px;
  font-family:cursive;
  z-index: 100;
  color: white;
}

.submain{
  /* overflow-x: hidden; */
  position: absolute;
  top: 100px;
  z-index: 1;
}

.subheader{
  background-color: floralwhite;
  width: 100vw;
  position:fixed;
  top: 80px;
  right: 0;
  padding-top: 4px;
  display: flex;
  justify-content: flex-end;
  border-bottom: rgb(104, 36, 36) 1px solid;
  box-shadow: 0 1px 2px peru;
  z-index: 100;
}

.owner-customer{
  margin-right: 25px;
  display: flex;
  align-items: center;
  z-index: 100;
  padding-bottom: 3px;
}

.owncust{
  background-color: floralwhite;
  margin-left: 10px;
  border: none;
  color: rgb(104, 36, 36);
  /* border-bottom: rgb(104, 36, 36) solid 1px; */
}

.owncust:hover{
  border-bottom: rgb(104, 36, 36) solid 1px;
  font-size: 0.85em;
}

.mainbody{
  /* position: relative; */
  /* top: 101px; */
  /* left: 0; */
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
}

.allitems{
  max-width: 70vw;
  min-width: 59vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.items{
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  margin: 20px;
}

.editmenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard{
  /* background-color: gainsboro; */
  max-width: 40vw;
  min-width: 34vw;
  /* max-height: 70vh; */
  margin-right: 20%;
  padding-left: 20px;
  border-left: rgb(104, 36, 36) 1px dotted;
  /* position:sticky; */
  /* bottom: 100px; */
  /* right: -200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content:flex-start; */
}

h5{
  margin: 12px 0;
}

#additem{
  margin-right: 35px;
  border-radius: 0;
}

.dashTitle{
  margin-bottom: 5px;
}

.image{
  /* width: 200px; */
  max-height: 200px;
}

.image:hover{
  width: 220px;
  max-height: 220px;
}

.what,.howmuch,.howmany{
  font-weight: bold;
  font-size: 1em;
}

.about{
  font-size: 0.8em;
}

.howmuch{
  padding: 3px 0;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.cats{
  font-weight: bold;
  font-size: 0.8em;
}

.saleprice{
  margin: 0;
  color: red;
  font-size: 1em;
}

.imageholder{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iteminput{
  box-sizing: border-box;
}

.editText{
  padding-bottom: 3px;
  /* padding-top: 3px; */
  font-size: 0.9em;
}

.cartImage{
  height: 40px;
  width: 40px;
}

.cartShow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartElement{
  margin: 0 8px;
}

.subtotal{
  font-size: 0.9em;
}

.orderCalc{
  margin: 5px 10px;
}

.itemName{
  /* display: flex; */
  text-align: left;
  margin: 10px 0 3px 7px;
}

.cartArrange{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.aligned{
  width: 70px;
  text-align: right;
}

.switch{
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch .flip{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FDEBD0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: lightgrey;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.flip:checked + .slider{
  background-color: indianred;
}

.flip:focus + .slider{
  box-shadow: 0 0 1px indianred;
}

.flip:checked + .slider:before{
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #FDEBD0;
}

.toggleText{
  font-size: 0.6em;
  margin: 0 30px 0 0;
}

.secondaryHeader{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.searchButton{
  height: 20px;
  margin-left: -20px;
}

.footedit{
  background-color: #FDEBD0;
  border-radius: 10%;
  font-weight: bold;
  font-size: 0.9em;
  padding: 3px 7px 2px;
  border: 1px solid rgb(104, 36, 36);
  box-shadow: 1px 1px 1px 0px rgb(104,36,36);
}

/* .cartedit{
  border-radius: 10%;
} */

.footedit:active{
  background-color: peru;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.iteminfo{
  width: 200px;
  margin: 0;
  border-radius: 0;
}

.footText{
  font-size: 1.1em;
}

/* .diagonal{
  height: 108%;
  width: 10px;
  margin-left: 60px;
  border-left: rgb(104,36,36) 2px solid;
  box-shadow: inset 1px 0 1px tan;
  box-sizing: border-box;
  transform: rotate(20deg);
  transform-origin: 0% 0%;
} */

/* .diagonal2{ */
  /* margin-left: 20px; */
  /* box-shadow: inset 1px 0 1px tan; */
/* } */

.titleHeader{
  display: flex;
  flex-direction: row;
  /* padding-right: 30px; */
  width: 330px;
}

svg{
  /* background-color: rgb(104,36,36); */
  position:absolute;
  top:0;
  width:375px;
  height: 80px;
  z-index: 1;
  /* box-shadow: 1px 0 1px tan; */
}

.poly{
  /* background-color: tan; */
  fill: rgb(104,36,36);
  /* stroke-right: purple; */
}