body{
  background-color:floralwhite;
}

.App {
  text-align: center;
  min-height: 100%;
  /* overflow-x: hidden; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

header {
  background-color:peru;
  /* border-bottom: sienna 2px solid; */
  box-shadow: 0px 1px 10px 10px peru;
  width: 100vw;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

footer {
  background-color:rgb(170, 112, 54);
  box-shadow: 0px -2px 3px rgb(170, 112, 54);
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.storetitle{
  margin-left: 60px;
  font-family:cursive;
}

.submain{
  /* overflow-x: hidden; */
  position: absolute;
  top: 86px;
  z-index: 1;
}

.subheader{
  /* background-color: aquamarine; */
  /* max-width: 100vw; */
  position:sticky;
  top: 84px;
  /* right: 0; */
  display: flex;
  justify-content: flex-end;
}

.owner-customer{
  margin-right: 25px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.owncust{
  background-color: floralwhite;
  margin-left: 10px;
  border: none;
  color: rgb(104, 36, 36);
  /* border-bottom: rgb(104, 36, 36) solid 1px; */
}

.owncust:hover{
  border-bottom: rgb(104, 36, 36) solid 1px;
  font-size: 0.85em;
}

.mainbody{
  /* position: relative; */
  /* top: 101px; */
  /* left: 0; */
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
}

.allitems{
  max-width: 70vw;
  min-width: 59vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.items{
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  margin: 20px;
}

.editmenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard{
  /* background-color: gainsboro; */
  max-width: 40vw;
  min-width: 34vw;
  /* max-height: 70vh; */
  margin-right: 20%;
  padding-left: 20px;
  border-left: rgb(104, 36, 36) 1px dotted;
  /* position:sticky; */
  /* bottom: 100px; */
  /* right: -200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content:flex-start; */
}

h5{
  margin: 12px 0;
}

#additem{
  margin-right: 35px;
}

.dashTitle{
  margin-bottom: 5px;
}

.image{
  /* width: 200px; */
  max-height: 200px;
}

.iteminfo{
  width: 200px;
  margin: 0;
}

.image:hover{
  width: 220px;
  max-height: 220px;
}

.what,.howmuch,.howmany{
  font-weight: bold;
  font-size: 1em;
}

.about{
  font-size: 0.8em;
}

.howmuch{
  padding: 3px 0;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.cats{
  font-weight: bold;
  font-size: 0.8em;
}

.saleprice{
  margin: 0;
  color: red;
  font-size: 1em;
}

.imageholder{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iteminput{
  box-sizing: border-box;
}

.editText{
  padding-bottom: 3px;
  /* padding-top: 3px; */
  font-size: 0.9em;
}

.cartImage{
  height: 40px;
  width: 40px;
}

.cartShow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartElement{
  margin: 0 8px;
}

.subtotal{
  font-size: 0.9em;
}

.orderCalc{
  margin: 5px 10px;
}

.itemName{
  /* display: flex; */
  text-align: left;
  margin: 10px 0 3px 7px;
}

.cartArrange{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.aligned{
  width: 70px;
  text-align: right;
}